.contact {
  padding-top: 20px;
}

.contactText {
  font-size: 20px;
}

.mail {
  font-size: 16px;
}

.outerMap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.map {
    width: 600px;
}

@media (width <= 768px) {
    .map {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        flex-shrink: 1;
        flex-grow: 0;
    }
}
