# 2024/2025
## #22903 VegaMind:

Gabrijel Steiner, Vid Furlan, Alja Sterle, Jakob Tadej Vrtačnik, Jakob Puc, Nejc Furlan, Aleš Rupar, Jonas K. Novak, Ana Ločnikar Jarc
---
Luka Maček, David Turk, Jaka Kovač in David Zindović

## #28080 VegaTech:

Luca Borg, Domen Podgoršek, Jon P. Anželak, Emir Kabaklic, Matic Ažman, Iztok Merljak, Aljaž Berginc, Enej Nacevski,
Mark Kukrika

---
Luka Maček, David Turk, Jaka Kovač in David Zindović

![Group photo](img/2024-2025/group.jpg)
